/*********************** ROUTEZ ***********************/

$routez-primary: #4A84FC;
$routez-primary-dark: #3B6ACA;
$routez-secondary: #DDECFE;
$routez-black: #494949;
$routez-grey: #C6C4CF;
$routez-grey-light: #FAFAFD;

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Playfair Display', serif;

$font-family-base: $font-family-primary;
$font-color-base: $routez-black;

$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.125rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 1.875rem; 
