@import '../../_sass/index';

.chart {
  margin-top: 50px;
  margin-bottom: 30px;

  h1 {
    font-size: $font-size-xxl;
    font-family: $font-family-secondary;
    font-weight: 700;
    margin-bottom: 50px;
  }

  &-wrapper {
    position: relative;

    &-top {
      position: absolute;
      top: -20px;
      left: -20px;
      margin: 0;
      font-family: $font-family-primary;
      font-weight: 200;
    }

    &-bottom {
      position: absolute;
      bottom: -20px;
      margin: 0;
      left: -20px;
      font-family: $font-family-primary;
      font-weight: 200;
    }

    display: flex;
    align-items: flex-end;
    height: 300px;
    border-left: 1px black solid;
    border-bottom: 1px solid black;

    &--col {
      width: 20px;
      margin: 0 10px;
      background-color: $routez-primary;
      cursor: pointer;
      position: relative;

      &--text {
        position: absolute;
        background-color: white;
        z-index: 1000;
        box-shadow: 0px 0px 25px rgba($color: #c5c5c5, $alpha: 0.4);
        padding: 10px 20px;
        border-radius: 10px;
        width: 200px;
        p {
          margin: 0;
          font-size: $font-size-s;
          font-family: $font-family-primary;
        }

        p:nth-of-type(1) {
          color: $routez-primary;
          margin-bottom: 10px;
        }
      }
    }
  }
}