@import '../../_sass/abstracts/index';

.nav {
	background-color: $routez-grey-light;
	color: $routez-black;
	
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 300px;

	&-header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;

		&__image {
			width: 60%;
		}
	}
}