@import '../_sass/abstracts/index';

/********************************* NAVBAR *********************************/
.navbar {
	background-color: $routez-secondary-light;
	padding: 1rem;

	&-brand {
		&__image {
			height: 60px;
		}
		&:hover {
			cursor: pointer;
		}
	}

	&-toggler {
		font-size: 2rem !important;
		color: rgba($routez-black, .8) !important;
		border: none !important;
	}

	&-collapse {
		justify-content: flex-end;
	}

	&-link {
		font-size: 14px;
		padding: 0.5rem;
		color: $routez-black;
		text-decoration: none;
		opacity: .7;
		transition: 0.3s;

		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 4px;
			top: 100%;
			left: 0;
			background: rgba($routez-primary, .1);
			transition: transform 0.5s;
			transform: scaleX(0);
			transform-origin: right;
		}

		&:hover::after {
			transform: scaleX(1);
			transform-origin: left;
		}

		&:hover {
			cursor: pointer;
			color: $routez-primary;
			opacity: .9;
		}

		&:focus {
			color: $routez-primary-dark;
			opacity: .9;
		}

		&--active {
			color: $routez-primary;
			opacity: 1;
			/* text-decoration: underline;
			text-decoration-color: $routez-primary;
			text-decoration-thickness: .125em;
			text-underline-offset: 0.6em; */
		}
	}
}

.nav-link {
	transition: 0.1s;

	&:hover {
		color: $routez-primary !important;
		text-decoration: none !important;
	}
}

.progressbar {
	&-wrapper {
		background-color: $routez-secondary-light;
		margin-top: 86px;
		position: fixed;
		height: 4px;
		z-index: 2;
		width: 100vw;

		& div {
			top: auto !important;
		}
	}
}





/********************************* FOOTER *********************************/
.footer {
	padding: 1rem;
	display: flex;
	justify-content: end;
	background-color: $routez-primary;
	font-size: 14px;

	&-link {
		color: white;
		opacity: 0.7;
		font-weight: 300;
		text-decoration: none;
		margin-left: 1rem;

		&:hover {
			color: white;
			opacity: 1;
		}
	}
}




/********************************* LANDING PAGE  *********************************/
.landing {
	width: 100%;

	& .row {
		width: 100%;
		justify-content: space-between;
	}

	&-top {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 8rem;

		&-background {
			position: absolute;
			width: 70vw;
			height: 100vh;
			background-image: url(../assets/images/background.png);
		}

		&-circle {
			height: 130vh;
			width: 200vw;
			background-color: $routez-secondary-light;
			border-radius: 50%;
			/* z-index: -2;
			position: absolute;
			top: -70vh; */
			// top: -150vh;
			position: absolute;

			&-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				width: 100vw;
				height: 100vh;
				padding-bottom: 80vh;
				overflow: hidden;

				&-wrapper {
					position: absolute;
				}
			}
			
		}

		&-chevron {
			color: rgba($routez-primary, .5);
			font-size: 4rem;

			position: absolute;
			bottom: 0;
			margin-bottom: 2rem;
			transition: 0.5s;

			&:hover {
				animation-play-state: paused;
				color: rgba($routez-primary, 1);
				cursor: pointer;
			}
		}
	
		&-left {
			&__title {
				font-size: 36px;
				font-weight: 600;

				margin-top: 2rem;
				margin-bottom: 1rem;

				& span {
					color: $routez-primary;
				}
			}
			&__text {
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 400;

				& span {
					font-weight: 300;
					font-size: 14px;
					color: $routez-primary;
				}
			}

			&__image {
				position: absolute;
				height: 350px;
				margin-left: calc(-8rem - 12px);
			}
		}

		&-right {
			display: flex;
			justify-content: center;

			&-login {
				-webkit-box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
				-moz-box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
				box-shadow: 0px 0px 21px -1px rgba(54,57,65,0.19);
				background-color: white;
				border-radius: 10px;

				padding: 3rem 3rem 1rem;
				max-width: 450px;
			}

			&-title {
				margin-bottom: 2rem;
			}

			&-form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			
				font-family: $font-family-base !important;
				width: 100%;
			
				&-input {
					margin: 1rem;
					width: 100%;
				}
			
				&-link {
					color: $routez-black;
					text-decoration: none;
					font-size: 14px;
					opacity: 0.8;
					transition: 0.2s;
			
					&--bottom {
						margin-bottom: 3rem;
					}
			
					&--top {
						margin-top: 1rem;
						text-align: center;
					}
			
					& b {
						color: $routez-black;
					}
			
					&:hover {
						opacity: 1;
						color: $routez-black;
					}
				}
			}

			&-error {
				font-size: 14px;
				color: $routez-danger;
				text-align: center;
				margin: 0;
				margin-top: 0.5rem;
				height: 30px;
			}
		}
	}

	&-section {
		width: 100%;
		//height: 90vh;
		//min-height: 700px;
		padding: 5rem 8rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__strong {
			color: $routez-primary;
			font-weight: 500;
		}

		&--one {
			text-align: center;

			&__title {
				font-size: 36px;
				font-weight: 600;
				font-family: $font-family-secondary;
			}

			&__text {
				font-size: 16px;
				font-weight: 300;
				margin: 2rem 0;
				line-height: 2em;
			}
			
		}

		&--two {
			background-color: $routez-secondary-light;

			&__title {
				font-size: 36px;
				font-weight: 600;
				font-family: $font-family-secondary;
				margin-bottom: 3rem;
			}

			&-left {
				display: flex;
				flex-direction: column;
				justify-content: center;

				&__text {
					font-size: 16px;
					font-weight: 300;
					margin: 2rem 0;
					line-height: 2em;
				}
			}

			&-right {
				display: flex;
				justify-content: center;
				align-items: center;

				&__image {
					width: 80%;
					height: max-content;
					max-width: 300px;
				}
			}
		}

		&--four {
			background-color: $routez-secondary-light;
			border-radius: 50% 50% 0 0;

			&__title {
				font-size: 36px;
				font-weight: 600;
				font-family: $font-family-secondary;
				margin-bottom: 3rem;
			}

			&-left {
				display: flex;
				flex-direction: column;
				justify-content: center;

				&__text {
					font-size: 16px;
					font-weight: 300;
					margin: 2rem 0;
					line-height: 2em;
				}
			}

			&-right {
				display: flex;
				flex-direction: column;

				&__image {
					width: 10%;
					height: max-content;
					max-width: 300px;
				}
			}
			
			&-circle {
				height: 130vh;
				width: 200vw;
				background-color: $routez-secondary-light;
				border-radius: 50%;
				/* z-index: -2;
				position: absolute;
				top: -70vh; */
				// top: -150vh;
				position: absolute;
	
				&-wrapper {
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					width: 100vw;
					height: 100vh;
					padding-top: 80vh;
					overflow: hidden;
	
					&-wrapper {
						position: absolute;    
						z-index: -1;
					}
				}
				
			}
		}
	}
}



/********************************* CAROUSEL *********************************/
.carousel {
	& div {
		text-align: center;

		& img {
			width: 100%;
			max-width: 500px;
		}

		& h3 {
			font-size: 20px;
			font-family: $font-family-secondary;
			font-weight: 600;
			margin: 2rem 0 1rem;
		}

		& p {
			font-size: 16px;
			font-weight: 300;
			margin: 1rem 0 2rem;
			max-width: 500px;
		}
	}
}

.rec {
	&-arrow {
		color: $routez-primary !important;
		background-color: white !important;
		box-shadow: none !important;
		font-size: 3rem !important;
	
		&:hover {
			color:$routez-primary-dark !important;
			background-color: white !important;
		}
	
		&:disabled {
			opacity: 0 !important;
			cursor: default !important;
		}
	}

}
// not active
.eteURg {
	box-shadow: none !important;
	background-color: $routez-secondary !important;
	
	&:hover {
		background-color: $routez-secondary-dark !important;
	}

}
// active
.jCPmTH {
	background-color: $routez-primary !important;
	box-shadow: none !important;
	width: 30px !important;
	border-radius: 10px !important;

	&:hover {
		background-color: $routez-primary !important;
	}

}





/********************************* EXTRA *********************************/
.spacer {
    width: 100%;
    height: 95px;
}

.magic-image {
	width: 100px;
	height: auto;
}





/********************************* MEDIA QUERIES *********************************/
/**************** MIN WIDTH ****************/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	.landing {
		&-section {
			padding: 4rem 2rem;
		}
	}
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.navbar {
		padding: 2rem 10rem;
	}

	.footer {
		padding: 1rem 10rem;
	}

	.landing {
		&-top {
			height: calc(100vh - 76px);
		}

		&-section {
			padding: 5rem 8rem;
		}
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.landing {
		&-section {
			padding: 5rem 8rem;

			&--four {
				padding: 5rem 8rem 0;

			}
		}
	}
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 

}




/**************** MAX WIDTH ****************/
 // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
	.landing {
		&-section {
			padding: 4rem 1rem;
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
	
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

	.landing {
		&-top {
			padding: 0;
			padding: 1rem;

			&-circle-wrapper-wrapper {
				display: none;
			}

			&-left {
				padding: 0;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&-right {
				margin-top: 5rem !important;
			}
		}

		&-section {
			/* &--one {
				&__text {
					text-align: left;
				}
			} */

			&--two {
				&-right {
					display: none;
				}

				&-left {
					&__text {
						padding: 0 !important;
					}
				}
			}

			&--four {
				background-color: white;
			}
		}
	}
	
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
	.landing {
		&-top {
			&-chevron {
				display: none;
			}

			&-left {
				&__image {
					display: none;
				}
			}
		}
	}
 }