@import '../_sass/abstracts/index';

.material {
	padding: 1rem 3rem;

	&-form {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 4rem;

		&-search{
			display: flex;
			flex-direction: row-reverse;
			margin-top: 6px;

			&__input {
				background-color: $routez-grey-light;
				color: $routez-black;
				border-radius: 10px;
				border: none;
				font-weight: 400;
				font-size: 14px;
		
				height: 30px;
				width: 12vw;
				max-width: 200px;
				padding: 1.5rem;

				&:focus {
					outline: 3px solid $routez-secondary;
				}
			}

			&__icon {
				background-color: $routez-primary;
				color: white;
				height: 48px;
				width: 48px;
				border-radius: 0 5px 5px 0;

				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					cursor: pointer;
					background-color: $routez-primary-dark;
				}
			}
		}

		&-filters {
			display: flex;
			margin-top: 8px;
		}

		&-button {
			margin-top: 8px;
		}
	}
}