@import '../_sass/index';

.create {
  &__title {
    font-size: $font-size-xxl;
    font-family: $font-family-secondary;
    font-weight: 700;
  }

  &__form {
    margin-top: 50px;
    width: 100%;

    &--check {
      margin: 20px 0;
      
      h5 {
        font-family: $font-family-primary;
        font-size: $font-size-m;
        margin-bottom: 20px;
      }
    }

    &--images {
      margin: 20px 0;

      .images-label {
        font-family: $font-family-primary;
        font-size: $font-size-s;
        margin-left: 20px;
      }

      .images-field {
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
      }

      &--item {
        height: 80px;
        width: 80px;
        margin-right: 10px;
        border: 1px solid $routez-primary;
        background-size: cover;
        background-position: center center;
      }

      &--add {
        height: 80px;
        width: 80px;
        margin-right: 10px;
        border: 1px solid $routez-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;

        span {
          font-family: $font-family-primary;
          font-size: 60px;
          color: $routez-primary;
        }

        input {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
    }

    &--paths {
      margin-top: 30px;

      &__overview {
        margin-top: 30px;

        &--item {
          background-color: $routez-secondary;
          padding: 20px 30px;
          border-radius: 10px;
          margin-bottom: 10px;

          &--text {
            h5 {
              margin: 0;
              font-family: $font-family-primary;
              font-size: $font-size-s !important;
            }
            span {
              font-family: $font-family-primary;
              font-size: $font-size-s;
            }
          }
        }
      }

      &--create {
        margin-top: 20px;

        &--theory {
          &--title {
            margin-top: 50px;
          }
          &--item {
            margin-top: 30px;

            h2 {
              font-family: $font-family-primary;
              font-size: $font-size-s;
              margin-bottom: 20px;
            }
          }
        }

        &--exercises {
          &--title {
            margin-top: 50px;
          }
          &--item {
            margin-top: 30px;

            &--more {
              margin-top: 30px;
            }

            h2 {
              font-family: $font-family-primary;
              font-size: $font-size-s;
              margin-bottom: 20px;
            }

            &__check {
              margin: 30px 0;
            }
          }
        }

        h6 {
          font-family: $font-family-primary;
          font-size: $font-size-s;
          font-weight: bold;
          color: $routez-primary;
        }

        &--check {
          margin-top: 20px;
        }
      }

      h5 {
        font-family: $font-family-primary;
        font-size: $font-size-s;
        font-weight: bold;
      }

      &__overview {
        &--none {
          font-family: $font-family-primary;
          font-size: $font-size-s;
        }
      }
    }

    &--wysiwyg {
      .wysiwyg-label {
        font-family: $font-family-primary;
        font-size: $font-size-s;
        margin-left: 20px;
      }

      .wysiwyg-field {
        margin-top: 10px;
      }
    }

    &--file {
      margin-bottom: 20px;

      &--wrapper {
        padding: 10px 20px;
        background-color: $routez-primary;
        border-radius: 5px;
        cursor: pointer;      
        border: none;
        display: inline-block;
        position: relative;

        span {
          cursor: pointer;
          font-size: $font-size-s;
          color: white;
          font-family: $font-family-primary;
          font-weight: bold;
          text-align: center;
        }

        input {
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }

      &--info {
        background-color: $routez-grey-light;
        margin-top: 10px;
        font-size: $font-size-s;
        font-family: $font-family-primary;
        padding: 10px 20px;
        border-radius: 5px;
      }
    }

    &--submit {
      margin-top: 20px;

      button {
        padding: 10px 20px;
        background-color: $routez-primary;
        font-size: $font-size-s;
        color: white;
        font-family: $font-family-primary;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
        margin-left: 5px;
        cursor: pointer;      
        border: none;
      }
    }
  }
}
