@import '../../_sass/abstracts/index';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 3rem;
	height: 100px;
	width: 100%;
	border-bottom: 2px solid $routez-grey-light;

	&-left {
		&-title {
			margin: 0;
			font-size: 2.25rem;
		}
	}

	&-right {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&-input {
			background-color: $routez-grey-light;
			color: $routez-black;
			font-weight: 500;
			font-size: 14px;

			height: 30px;
			border-radius: 10px;
			padding: 1.5rem;
			border: none;
			
			&:focus {
				//outline: 3px solid $routez-secondary;
				outline: none;
			}
		}

		&-icon {
			color: $routez-black;
			font-size: 2rem;
			margin: 0 2rem;
		}

		&-profile {
			display: flex;

			border-radius: 10px;
			padding: 0.5rem 1rem;
			transition: all 0.3s;
		
			&__text {
				font-size: 12px;
		
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: right;
		
				&-name {
					font-weight: 600;
					margin: 0;

					&-link {
						text-decoration: none;
					}
				}

				&-settings {
					font-weight: 300;
					margin: 0;

					&-link {
						text-decoration: none;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}

			&__image {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				margin-left: 1rem;

				&-link {
					text-decoration: none;
				}
			}

		}
	}
}
