@import '../../_sass/abstracts/index';

.material {
	&-list {
		margin: 4rem 0;

		&-title {
			font-size: 18px;
			font-weight: 600;
		}

		&-item {
			border-bottom: 1px solid rgba($routez-grey, .3);
			padding: 1rem 0;

			display: flex;
			justify-content: space-between;
			align-items: center;
	
			&-left {
				display: flex;
				flex-direction: column;

				&-bottom {
					display: flex;
					align-items: center;
				}
			}

			&-right {
				display: flex;
				align-items: center;

				&-delete {
					display: flex;
					align-items: center;
					background-color: $routez-grey-light;
					padding: 0.5rem 0.5rem 0.5rem 1rem;
					border-radius: 50px;
					cursor: pointer;

					transition: 1s;

					&__text {
						font-size: 12px;
						font-weight: 300;
						margin: 0;
					}
				}
			}

			&-title a {
				color: $routez-black;
				font-size: 16px;
				font-weight: 500;
				text-decoration: none;

				&:hover {
					color: $routez-black;
					text-decoration: underline;
				}
			}
	
			&-date {
				color: $routez-black;
				font-size: 13px;
				font-weight: 300;
				margin: 0;
	
				& a {
					font-weight: 500;
					color: $routez-black;
					text-decoration: none;

					&:hover {
						color: $routez-black;
						text-decoration: underline;
					}
				}
			}
		}

		&-warning {
			font-size: 14px;
			font-weight: 300;
			opacity: 0.8;
		}

		&-more {
			color: $routez-primary;
			font-size: 14px;
			padding-top: 1rem;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}

	&-cards {
		display: flex;

		& > .material-card:first-child {
			margin-left: 0;
		}

		& > .material-card:last-child {
			margin-right: 0;
		}
	}

	&-icon {
		&__edit {
			color: $routez-primary;
			font-size: 1.4rem;
			margin: 0 1rem;

			transition: 0.3s;

			&:hover {
				cursor: pointer;
				color: $routez-primary-dark;
			}
		}

		&__delete {
			color: $routez-danger;
			font-size: 1.4rem;
			margin: 0 1rem;

			transition: 0.3s;

			&--fill {
				color: white !important;
				background-color: $routez-danger;
				border-radius: 50%;
				padding: 4px;
				margin-right: 0;

				&:hover {
					color: white;
					cursor: pointer;
					background-color: $routez-danger-dark;
				}
			}

			&:hover {
				cursor: pointer;
				color: $routez-danger-dark;
			}
		}
	}
}