@import '../../_sass/abstracts/index';

.filter-select {
	border: 1px solid rgba($routez-grey, 0.3);
	background-color: white;
	font-size: 16px;
	font-weight: 400;

	border-radius: 10px;
	width: 12vw;
	height: max-content;

	margin: 0 0.5rem;
	padding: 0.5rem 0.8rem ;

	&:first-of-type{
		margin-left: 0;
	}

	&--active {
		height: max-content;
	}

	&:hover {
		cursor: pointer;
	}

	&__field {
		color: $routez-primary;
		text-transform: capitalize;
	
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__select {
		margin-top: 1rem;

		&--section {
			&__title {
				font-size: 14px;
				text-transform: capitalize;
				font-weight: 700;
			}
			&__options--option {
				font-size: 14px;
	
				width: 100%;
				margin: 0.5rem 0;
	
				display: flex;
				justify-content: space-between;

				& label:hover {
					cursor: pointer;
				}

			}
		}

	}
}

.arrow-up, .arrow-down {
	color: $routez-primary;
	font-size: 1.2rem;

	margin-left: 0.5rem;

	transition: 0.4s;
}

.arrow-up {
	transform: rotate(180deg);
}
