/*********************** ROUTEZ ***********************/

$routez-primary: #4A84FC;
$routez-primary-dark: #3F70D6;
$routez-secondary: #DDECFE;
$routez-secondary-dark: #D2E0F1;
$routez-black: #494949;
$routez-grey: #C6C4CF;
$routez-grey-light: #FAFAFD;
$routez-danger: #EA1601;
$routez-warning: #FAD202;
$routez-succes: #64BC26;

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Playfair Display', serif;

$font-family-base: $font-family-primary;
$font-color-base: $routez-black;

$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.125rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 1.875rem; 


// Quick styles
.overview {
  &__title {
    font-size: $font-size-xxl;
    font-family: $font-family-secondary;
    font-weight: 700;
  }

  &__items {
    margin-top: 20px;

    &--item {
      padding: 20px 0;
      border-bottom: 1px solid $routez-grey;

      &--buttons {
        display: inline-flex;
      }

      &--text {
        display: inline-block;
        h5, h6 {
          margin: 0;
        }

        h5 {
          font-family: $font-family-primary;
          font-size: $font-size-m;
          font-weight: 700;
          cursor: pointer;
        }

        h5:hover {
          text-decoration: underline;
        }

        h6 {
          margin-top: 10px;
          font-family: $font-family-primary;
          font-size: $font-size-s;
          font-weight: 300;
        }
      }
    }
  }
}

.publish-button {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.publish-button.not-published {
  opacity: 0.4;
}